<div class="card border-dark mb-3">

  <div class="card-header">

    <input type="text"> <!-- Board header -->

    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>

  <ul class="list-group list-group-flush"> <!-- Items -->
    <boardItem class="list-group-item">

    </boardItem>
  </ul>

  <div class="card-footer"> <!-- Add item function -->

    <div class="input-group">

      <input type="text" placeholder="Add new item" class="form-control">

      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Add</button>
      </div>

    </div>

  </div>

</div>
