<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <button class="navbar-toggler"
      type="button" data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="colapse navbar-collapse justify-content-center align-items-center" id="navbarNav">

    <ul class="navbar-nav">

      <li class="nav-item active">
        <a class="nav-link centerText" href="#">Your Boards</a>
      </li>

    </ul>

  </div>

</nav>

<div class="container">

  <div class="row">

    <board *ngFor="let board of boards" class="col-3" [isBoard]="board">

    </board>

    <div class="col-3">

      <div class="input-group ">

        <input [(ngModel)]="inAdd" placeholder="Title of the new board" type="text" class="form-control">

        <div class="input-group-append">
          <button (click)="addBoard()" class="btn btn-outline-secondary" type="button">Add</button>
        </div>

      </div>

    </div>

  </div>

</div>
